Repository radek-sprta/mariner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

lint:bandit:
  stage: lint
  script: tox -e bandit

lint:flake8:
  stage: lint
  script: tox -e flake8

lint:markdown:
  image: ruby:2.6
  stage: lint
  before_script:
  - gem install mdl
  script:
  - mdl -s mdl.rb *.md docs/use.md docs/config.md

lint:pylint:
  stage: lint
  script: tox -e pylint

test:python35:
  image: python:3.5
  stage: test
  script:
  - tox -e py35
  retry: 1

test:python36:
  stage: test
  script:
  - tox -e py36
  - codecov --token=69b7f6f2-c281-4b78-862d-396e8e6f8b1b
  retry: 1

Correctly open files in Windows
  src/mariner/commands/open.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Test in CI on Windows
  .gitlab-ci.yml
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix colors on Windows
  src/mariner/commands/details.py
  src/mariner/commands/download.py
  src/mariner/commands/search.py
  src/mariner/main.py
  src/mariner/utils.py
  tests/api/test_utils.py
  tests/cli/test_config.py
  tests/cli/test_details.py
  tests/cli/test_downloads.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Open files using default application on Windows
  src/mariner/commands/open.py
  src/mariner/config.py
  src/mariner/downloader.py
  src/mariner/main.py
  src/mariner/searchengine.py
  src/mariner/utils.py
  tests/api/data/mariner/config.yaml
  tests/api/test_config.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Refactor utils
  src/mariner/commands/config.py
  src/mariner/commands/details.py
  src/mariner/commands/download.py
  src/mariner/commands/magnet.py
  src/mariner/commands/open.py
  src/mariner/commands/search.py
  src/mariner/config.py
  src/mariner/downloader.py
  src/mariner/main.py
  src/mariner/searchengine.py
  src/mariner/torrent.py
  src/mariner/trackers/anidex.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/kickasstorrents.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
  src/mariner/trackers/piratebay.py
  src/mariner/trackers/tokyotosho.py
  src/mariner/utils.py
  src/mariner/utils/__init__.py
  src/mariner/utils/color.py
  src/mariner/utils/parse.py
  src/mariner/utils/path.py
  tests/api/test_utils.py
  tests/api/utils/__init__.py
  tests/api/utils/test_color.py
  tests/api/utils/test_parse.py
  tests/api/utils/test_path.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Spellcheck code
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Update dependencies
  poetry.lock
Due: none

Test on Python 3.9
  .gitlab-ci.yml
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Skip Linuxtracker tests - site has broken cert chain
  tests/api/trackers/test_linuxtracker.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Change test search for Archive, as some content has been removed
  tests/api/trackers/cassettes/TestArchive.test_no_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_results.yaml
  tests/api/trackers/test_archive.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove support for the PirateBay, because it is all Javascript now
  src/mariner/trackers/piratebay.disabled
  tests/api/trackers/cassettes/TestPirateBay.test_no_results.yaml
  tests/api/trackers/cassettes/TestPirateBay.test_results.yaml
  tests/api/trackers/test_piratebay.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove lint
  src/mariner/proxies/piratebay.py
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove support for KAT, because it requires account now
  src/mariner/trackers/kickasstorrents.disabled
  tests/api/trackers/cassettes/TestKickAssTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_results.yaml
  tests/api/trackers/test_kickasstorrents.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Update URL for NyaaPantsu
  src/mariner/trackers/nyaapantsu.py
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove support for Anidex, because it is not working
  src/mariner/trackers/anidex.disabled
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnidex.test_results.yaml
  tests/api/trackers/test_anidex.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Re-record casettes
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
  tests/api/trackers/cassettes/TestArchive.test_no_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestLinuxTracker.test_no_results.yaml
  tests/api/trackers/cassettes/TestLinuxTracker.test_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_results.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove unsupported trackers from readme
  README.md
Due: lint:markdown

Remove 'to do' section from readme
  README.md
Due: lint:markdown

Do not record test_search_no_result casette
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove support for Python 3.5
  .gitlab-ci.yml
  pyproject.toml
  src/mariner/commands/config.py
  src/mariner/commands/download.py
  src/mariner/commands/magnet.py
  src/mariner/commands/open.py
  src/mariner/commands/search.py
  src/mariner/downloader.py
  src/mariner/proxyplugin.py
  src/mariner/searchengine.py
  src/mariner/torrent.py
  src/mariner/trackers/archive.py
  src/mariner/trackers/distrowatch.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
  src/mariner/trackers/tokyotosho.py
  src/mariner/utils/color.py
  src/mariner/utils/parse.py
  src/mariner/utils/path.py
  tests/cli/test_details.py
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Format with Black
  src/mariner/torrent.py
  src/mariner/utils/parse.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove Bandit from linters
  .gitlab-ci.yml
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Reformat markdown files
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Default.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: lint:markdown

Add formatters to pre-commit hooks
  .gitlab-ci.yml
  .pre-commit-config.yaml
  mdl.rb
Due: none

Fix eof in animation
  docs/assets/mariner.svg
Due: none

Update changelog
  CHANGELOG.md
Due: lint:markdown

Update readme
  README.md
Due: lint:markdown

Release 1.5.0
  pyproject.toml
  src/mariner/__version__.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Update dependencies
  poetry.lock
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Make LinuxTracker test XFAIL, because the site has broken cert chain
  tests/api/trackers/test_linuxtracker.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Make multiword searches work with the new cmd2
  src/mariner/commands/search.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Update development dependencies
  poetry.lock
  pyproject.toml
  tests/api/proxies/cassettes/TestPirateBayProxy.test_result.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Release 1.5.1
  CHANGELOG.md
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Test in Python 3.10
  .gitlab-ci.yml
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Use final Python 3.10 image
  .gitlab-ci.yml
Due: none

Path conditions:
  lint:bandit: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  lint:flake8: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  lint:markdown: any of: *.md, docs/*.md
  lint:pylint: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  test:python35: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  test:python36: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
