Repository radek-sprta/mariner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

.gitlab-ci.yml:

image: python:3.6

stages:
  - lint
  - test
  - build
  - release

before_script:
  - apt -y install libxml2-dev libxslt-dev
  - pip install poetry
  - pip install tox
  - pip install codecov

.code:
  only:
    changes:
      - src/**/*
      - tests/**/*
      - pyproject.toml
      - pylintrc
      - pytest.ini
      - tox.ini

lint:bandit:
  stage: lint
  extends: .code
  script: tox -e bandit

lint:flake8:
  stage: lint
  extends: .code
  script: tox -e flake8

lint:markdown:
  image: ruby:2.6
  stage: lint
  before_script:
    - gem install mdl
  script:
    - mdl -s mdl.rb *.md docs/use.md docs/config.md
  only:
    changes:
      - '*.md'
      - docs/*.md

lint:pylint:
  stage: lint
  extends: .code
  script: tox -e pylint

test:python35:
  image: python:3.5
  stage: test
  extends: .code
  script:
    - tox -e py35
  retry: 1

test:python36:
  stage: test
  extends: .code
  script:
    - tox -e py36
    - codecov --token=69b7f6f2-c281-4b78-862d-396e8e6f8b1b
  retry: 1

build:package:
  stage: build
  script:
    - tox -e build
  artifacts:
    paths:
      - dist
    expire_in: 1 week

release:pypi:
  stage: release
  before_script:
    - pip install twine
  script:
    - twine upload --skip-existing dist/*
  only:
    - tags

pages:
  script:
    - pip install mkdocs
    - pip install mkdocs-cinder
    - mkdocs build -d public/
  artifacts:
    paths:
      - public
  only:
    - master

Add bug report template
  .gitlab/issue_templates/Bug.md
Due: none

Add feature request template
  .gitlab/issue_templates/Feature request.md
Due: none

Add merge request template
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Default.md
Due: none

Reformat with Black
  src/mariner/mixins.py
  src/mariner/torrent.py
  src/mariner/trackerplugin.py
  src/mariner/trackers/btkitty.py
  src/mariner/trackers/kickasstorrents.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Add pre-commit hook for Black
  .pre-commit-config.yaml
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Reformat with Black
  src/mariner/mixins.py
  src/mariner/trackerplugin.py
  src/mariner/trackers/btkitty.py
  src/mariner/trackers/kickasstorrents.py
  tests/api/test_mixins.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Interpret '-' in seeds as 0
  CHANGELOG.md
  src/mariner/trackerplugin.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Parse 'Y-day' correctly
  CHANGELOG.md
  src/mariner/trackerplugin.py
  src/mariner/trackers/piratebay.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Add Python 3.8 to supported versions
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix lints
  pylintrc
  src/mariner/commands/open.py
  src/mariner/searchengine.py
  src/mariner/torrent.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix broken trackers
  CHANGELOG.md
  README.md
  poetry.lock
  src/mariner/trackers/anirena.py
  src/mariner/trackers/btkitty.py
  tests/api/cassettes/TestSearchEngine.test_search[10].yaml
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnidex.test_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_no_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_no_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
  tests/api/trackers/cassettes/TestPirateBay.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_results.yaml
  tests/api/trackers/test_anirena.py
  tests/api/trackers/test_btkitty.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Add groundwork for torrentkitty
  src/mariner/trackers/torrentkitty.disabled
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove faulty cassettes
  tests/api/cassettes/TestSearchEngine.test_search[10].yaml
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove faulty cassettes
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Bump version
  pyproject.toml
  src/mariner/__version__.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Bump version in Changelog
  CHANGELOG.md
Due: lint:markdown

Add Python 3.8 to supported versions
  .gitlab-ci.yml
  poetry.lock
  pylintrc
  pyproject.toml
  src/mariner/commands/open.py
  src/mariner/searchengine.py
  src/mariner/torrent.py
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix broken trackers
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  src/mariner/__version__.py
  src/mariner/trackers/anirena.py
  src/mariner/trackers/btkitty.py
  src/mariner/trackers/torrentkitty.disabled
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnidex.test_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_no_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_no_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_no_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
  tests/api/trackers/cassettes/TestPirateBay.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_results.yaml
  tests/api/trackers/test_anirena.py
  tests/api/trackers/test_btkitty.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Switch coverage to Python 3.8
  .gitlab-ci.yml
Due: none

Parse numbers in all trackers
  src/mariner/trackers/anidex.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Bump version
  CHANGELOG.md
  pyproject.toml
  src/mariner/__version__.py
  tests/api/cassettes/TestSearchEngine.test_search[10].yaml
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Delete faulty cassettes
  tests/api/cassettes/TestSearchEngine.test_search[10].yaml
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Parse numbers in all trackers
  CHANGELOG.md
  pyproject.toml
  src/mariner/__version__.py
  src/mariner/trackers/anidex.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Fix number parsing for ProxyTrackerPlugin
  src/mariner/trackerplugin.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Move parse_date and parse_number to utils
  src/mariner/trackerplugin.py
  src/mariner/trackers/anidex.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/kickasstorrents.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
  src/mariner/trackers/piratebay.py
  src/mariner/trackers/tokyotosho.py
  src/mariner/utils.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix lints
  src/mariner/trackers/kickasstorrents.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix parse number test
  tests/api/test_utils.py
  tests/api/trackers/test_kickasstorrents.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Move parse_date and parse_number to utils
  src/mariner/trackerplugin.py
  src/mariner/trackers/anidex.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/kickasstorrents.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
  src/mariner/trackers/piratebay.py
  src/mariner/trackers/tokyotosho.py
  src/mariner/utils.py
  tests/api/test_utils.py
  tests/api/trackers/test_kickasstorrents.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Move pytest configuration to tox.ini
  pytest.ini
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix colors on Windows
  src/mariner/commands/details.py
  src/mariner/commands/download.py
  src/mariner/commands/search.py
  src/mariner/main.py
  src/mariner/utils.py
  tests/api/test_utils.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix CLI tests
  tests/cli/test_config.py
  tests/cli/test_details.py
  tests/cli/test_downloads.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Open files using default application on Windows
  src/mariner/commands/open.py
  src/mariner/utils.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove lint
  src/mariner/utils.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Use correct platform-specific paths
  src/mariner/commands/open.py
  src/mariner/config.py
  src/mariner/downloader.py
  src/mariner/main.py
  src/mariner/searchengine.py
  src/mariner/utils.py
  tests/api/data/mariner/config.yaml
  tests/api/test_config.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove lint
  src/mariner/commands/open.py
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Cast cache path to str for Python 3.5 compatibility
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Cast results path to str for Python 3.5 compatibility
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Refactor utils
  src/mariner/commands/config.py
  src/mariner/commands/details.py
  src/mariner/commands/download.py
  src/mariner/commands/magnet.py
  src/mariner/commands/open.py
  src/mariner/commands/search.py
  src/mariner/config.py
  src/mariner/downloader.py
  src/mariner/main.py
  src/mariner/searchengine.py
  src/mariner/torrent.py
  src/mariner/trackers/anidex.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/kickasstorrents.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/nyaapantsu.py
  src/mariner/trackers/piratebay.py
  src/mariner/trackers/tokyotosho.py
  src/mariner/utils.py
  src/mariner/utils/__init__.py
  src/mariner/utils/color.py
  src/mariner/utils/parse.py
  src/mariner/utils/path.py
  tests/api/test_utils.py
  tests/api/utils/__init__.py
  tests/api/utils/test_color.py
  tests/api/utils/test_parse.py
  tests/api/utils/test_path.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Remove lint
  src/mariner/commands/open.py
  src/mariner/utils/parse.py
  src/mariner/utils/path.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Let cache() return cache dir, not file
  src/mariner/searchengine.py
  src/mariner/utils/path.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36
