Repository radek-sprta/mariner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

lint:bandit:
  stage: lint
  script: tox -e bandit

lint:flake8:
  stage: lint
  script: tox -e flake8

lint:markdown:
  image: ruby:2.6
  stage: lint
  before_script:
  - gem install mdl
  script:
  - mdl -s mdl.rb *.md docs/use.md docs/config.md

lint:pylint:
  stage: lint
  script: tox -e pylint

test:python35:
  image: python:3.5
  stage: test
  script:
  - tox -e py35
  retry: 1

test:python36:
  stage: test
  script:
  - tox -e py36
  - codecov --token=69b7f6f2-c281-4b78-862d-396e8e6f8b1b
  retry: 1

Update documentation
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/config.md
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Remove Docker image
  CHANGELOG.md
  README.md
  docker/Dockerfile
Due: lint:markdown

Improve download display
  CHANGELOG.md
  src/mariner/commands/download.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Remove Limetorrents proxies
  CHANGELOG.md
  src/mariner/proxies/limetorrents.py
  src/mariner/trackers/limetorrents.py
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
  tests/api/proxies/cassettes/TestLimeTorrentsProxy.test_result.yaml
  tests/api/proxies/test_limetorrents.py
  tests/api/trackers/cassettes/TestLimeTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_results.yaml
  tests/api/trackers/test_limetorrents.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Add aliases for Limetorrents and TokyoTosho
  CHANGELOG.md
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/tokyotosho.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Save results in /home/dak/.cache/mariner
  CHANGELOG.md
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Add license to snap
  snapcraft.yaml
Due: none

Use Poetry to publish package
  .gitlab-ci.yml
Due: none

Properly define build system
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Fix KickAssTorrents test recording
  .gitlab-ci.yml
  pytest.ini
  src/mariner/trackers/kickasstorrents.py
  tests/api/trackers/cassettes/TestKickAssTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_results.yaml
  tests/api/trackers/test_kickasstorrents.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Disable snap support
  CHANGELOG.md
  README.md
Due: lint:markdown

Add generated setup.py for snap support
  setup.py
  snapcraft.yaml
Due: none

Remove setup.py
  setup.py
Due: none

Update Mariner animation
  README.md
  docs/assets/mariner.gif
  docs/assets/mariner.svg
Due: lint:markdown

Handle user agent in GetPageMixin
  src/mariner/mixins.py
  src/mariner/proxyplugin.py
  src/mariner/trackerplugin.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Add general filters to trackers
  src/mariner/commands/search.py
  src/mariner/trackerplugin.py
  src/mariner/trackers/archive.py
  src/mariner/trackers/distrowatch.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/tokyotosho.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Add --anime/-A flag to search only on anime trackers
  CHANGELOG.md
  src/mariner/commands/search.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Install correct Cachalot version
  CHANGELOG.md
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Add --filter/-F flag for general filters on trackers
  CHANGELOG.md
  src/mariner/commands/search.py
  src/mariner/searchengine.py
  src/mariner/trackerplugin.py
  src/mariner/trackers/archive.py
  src/mariner/trackers/distrowatch.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/tokyotosho.py
  tests/cli/test_search.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Correctly set up tracker loggers
  src/mariner/trackers/archive.py
  src/mariner/trackers/distrowatch.py
  src/mariner/trackers/etree.py
  src/mariner/trackers/kickasstorrents.py
  src/mariner/trackers/limetorrents.py
  src/mariner/trackers/linuxtracker.py
  src/mariner/trackers/nyaa.py
  src/mariner/trackers/piratebay.py
  src/mariner/trackers/tokyotosho.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Make compatible with Cachalot 1.0.0
  CHANGELOG.md
  pyproject.toml
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Update lock file
  poetry.lock
Due: none

Lower cache validity to 4 hours
  CHANGELOG.md
  src/mariner/searchengine.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Pin pytest to 4.0.2 as a workaround to pytest-asyncio issue
  pyproject.toml
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Make Python 3.7 the default
  .gitlab-ci.yml
Due: none

Quote URL when opening torrent, so it cannot be interpreted as shell command
  CHANGELOG.md
  src/mariner/commands/open.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Fix readme style
  CHANGELOG.md
Due: lint:markdown

Test in Python 3.8
  .gitlab-ci.yml
  tox.ini
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Change description
  README.md
  mkdocs.yml
  pyproject.toml
  snapcraft.yaml
  src/mariner/__version__.py
  src/mariner/main.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Support for persistent history
  poetry.lock
  pyproject.toml
  src/mariner/interactive.py
  src/mariner/main.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Magnet command copies torrent URL for torrents without magnet link
  CHANGELOG.md
  src/mariner/commands/magnet.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Support for Anirena.com tracker
  CHANGELOG.md
  README.md
  src/mariner/trackers/anirena.py
  tests/api/trackers/cassettes/TestAnirena.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_results.yaml
  tests/api/trackers/test_anirena.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Support for Anidex.info tracker
  CHANGELOG.md
  README.md
  src/mariner/trackers/anidex.py
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnidex.test_results.yaml
  tests/api/trackers/test_anidex.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Support for nyaa.pantsu.cat tracker
  CHANGELOG.md
  README.md
  src/mariner/trackers/nyaapantsu.py
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
  tests/api/trackers/test_nyaapantsu.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Enable all request types in tracker plugins and fix KAT
  CHANGELOG.md
  src/mariner/mixins.py
  src/mariner/proxyplugin.py
  src/mariner/trackerplugin.py
  src/mariner/trackers/kickasstorrents.py
  tests/api/cassettes/TestSearchEngine.test_search[5].yaml
  tests/api/cassettes/TestSearchEngine.test_search_no_result.yaml
  tests/api/test_mixins.py
  tests/api/trackers/cassettes/TestAnidex.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnidex.test_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_no_results.yaml
  tests/api/trackers/cassettes/TestAnirena.test_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_no_results.yaml
  tests/api/trackers/cassettes/TestArchive.test_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_no_results.yaml
  tests/api/trackers/cassettes/TestDistrowatch.test_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_no_results.yaml
  tests/api/trackers/cassettes/TestEtree.test_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestKickAssTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_no_results.yaml
  tests/api/trackers/cassettes/TestLimeTorrents.test_results.yaml
  tests/api/trackers/cassettes/TestLinuxTracker.test_no_results.yaml
  tests/api/trackers/cassettes/TestLinuxTracker.test_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaa.test_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_no_results.yaml
  tests/api/trackers/cassettes/TestNyaaPantsu.test_results.yaml
  tests/api/trackers/cassettes/TestPirateBay.test_no_results.yaml
  tests/api/trackers/cassettes/TestPirateBay.test_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_no_results.yaml
  tests/api/trackers/cassettes/TestTokyoTosho.test_results.yaml
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Fix Python 3.5 syntax incompatibility
  src/mariner/mixins.py
Due: lint:bandit, lint:flake8, lint:pylint, test:python35, test:python36

Preliminary support for BTKitty
  CHANGELOG.md
  README.md
  src/mariner/trackerplugin.py
  src/mariner/trackers/btkitty.py
  tests/api/trackers/cassettes/TestBTKitty.test_no_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_results.yaml
  tests/api/trackers/test_btkitty.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Preliminary support for BTKitty #5
  CHANGELOG.md
  README.md
  src/mariner/trackerplugin.py
  src/mariner/trackers/btkitty.py
  tests/api/trackers/cassettes/TestBTKitty.test_no_results.yaml
  tests/api/trackers/cassettes/TestBTKitty.test_results.yaml
  tests/api/trackers/test_btkitty.py
Due: lint:bandit, lint:flake8, lint:markdown, lint:pylint, test:python35, test:python36

Path conditions:
  lint:bandit: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  lint:flake8: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  lint:markdown: any of: *.md, docs/*.md
  lint:pylint: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  test:python35: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
  test:python36: any of: src/**/*, tests/**/*, pyproject.toml, pylintrc, pytest.ini, tox.ini
